# objects
*.o

# backup
*~


# automake
missing
install-sh
depcomp
config.sub
config.guess
compile
Makefile.in
autom4te.cache
configure
Makefile
config.log
config.status
ltmain.sh
config.cache
acconfig.haclocal.m4
config.h.in
aclocal.m4
